body{
	background-image: url(https://icdn2.digitaltrends.com/image/digitaltrends/xbox-one-vs-ps4-2.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
}

.Logocenter{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: none;
    border-radius: .3rem;
    color:white;
}

.logo{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(247, 247, 247, 0.4)
}



.navbar-dark .navbar-brand {
    color: rgb(252, 254, 255);
    font-size: 1.7rem;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(0,0,0,.1);
}

.navbar-dark .navbar-nav .nav-link {
        color: rgba(249, 241, 241, 1);
        font-size:1.2rem;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: rgba(245, 245, 245, 0.9);
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(0,0,0,.1);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(https://img.icons8.com/cotton/2x/menu.png);
}

.non-active :hover{
	color:#eddaa4;
}


/*.navbar-brand:hover{
	color:none;
}*/

.navbar-dark .navbar-brand:hover{
	color:none;
}

.dropdown-menu{
	float:right;
}

.bg-dark {
    background-color: #00070e!important;
}




.st:hover{
	transform:scale(1.1);
}


.navbar .navbar-expand-lg .navbar-dark .bg-dark{
	font-size:2rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.title{
	color:white;
}
.img-thumbnail{
        padding: 0rem;
        margin-bottom: 5px;
        margin-top:5px;
}

.btn-primary {
    color: #fff;
    background-color: #1459a2;
    border-color: #007bff;
}